/* CSS Reset  */
*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
/* Navigation bar Logo and Image  */
/* #logo{ */
    /* margin: 12px 12px; */

/* } */
#logo img{
    margin: 7px 10px;
    height: 56px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1rem;
}
#navbar ul li a{
   display: block;
   padding: 4px 14px;
   color:black;
   text-decoration: none;
}
#navbar ul li a:hover{
    color:white;
    background-color:black;
    
 
 }
 #home{
     display: flex;
     flex-direction: column;
     padding: 4px 20px;
     justify-content: center;
     align-items: center;
 }


